doctype 5
html
    head
        title= title
        link(rel='stylesheet',href='/css/bootstrap.min.css')
        link(rel='stylesheet',href='/css/bootstrap-responsive.min.css')
        block styles
        script(src='/js/jquery.js')
        script(src='/js/bootstrap.min.js')
        block scripts
        meta(name='viewport',content='width=device-width, initial-scale=1.0',charset='utf-8')
        style
            background-color: white
    body
        .navbar.navbar-static-top
            .navbar-inner
                    a.brand(href='/')= 'API-server'
                    ul.nav
                        li
                            a(href='/')= 'Hm...'
                        if typeof(user) != 'undefined'
                            li
                                a= model
                            li
                                a= 'Cars'
                            li
                                a= 'User'
                    ul.nav.pull-right
                        li
                            a= '0.0.1a'
        .container-fluid(style='padding-top: 40px')
            block content
            .row-fluid
                .span12
                    hr
                    author
                        a(href='https://github.com/freaking-awesome/',target='_blank')
                            span(style='margin-right:0.2em')= 'Awesome'
                            span= '{39}'
